<h1>Need Muic?</h1>
<p class="lead">Use the ngSpotify app to browse new releasesa and find you favorite songs.  All you get i this text and a mostly barbones HTML document.</p>
<form>
    <div class="form-group">
      <input class="form-control" 
             type="text" 
             placeholder="Search Artists..." 
             [(ngModel)]="searchString" 
             name="searchString" 
             (keyup)="searchMusic()">
    </div>
    <div *ngIf="searchResults">
      <div *ngFor="let artist of searchResults">
        <div class="row">
          <div class="col-md-12">
            <div class="search-res well">
              <h4><a routerLink="/artist/{{artist.id}}">{{ artist.name }}</a></h4>
              <div>
                <strong>Genres: </strong>
                <span *ngFor="let genre of artist.genres">{{ genre }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
